@media only screen and (max-width: 1200px) {
    .bc_W img {
        width: 25rem;
    }
    /* NAV */
    nav ul {
        width: 10%;
    }
    /* HEADER */
    .ul_anim_container {
        width: 90%;
    }
}

@media only screen and (max-width: 1100px) {
    /* MAIN */
    .paragraphs {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    .bc_W img {
        width: 20rem;
    }
    /* NAV */
    nav ul {
        width: 20%;
    }
    /* HEADER */
    .ul_anim_container {
        flex-direction: column;
        height: auto;
        padding: 5% 0;
        overflow: visible;
        text-align: center;
    }
    .ul_anim_container li:nth-child(n) {
        /* background-color: green; */
        height: 4rem;
        margin: 2rem 0;
        padding-top: 4rem;
        overflow: hidden;
        /* animation: none; */
    }
    @keyframes pAnim {
        from {
            opacity: 0;
            padding-top: 4rem;
        }
        to {
            opacity: 1;
            padding-top: 0rem;
        }
    }
    /* FOOTER */
    footer {
        flex-direction: column;
        text-align: center;
        padding: 2rem 0;
    }
    footer ul {
        flex-direction: column;
        width: 100%;
        /* margin-top: 2rem; */
    }
    footer h6 {
        margin-top: 2rem;
    }
    footer li {
        margin: 1rem 0;
    }
    footer .fa {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    /* MAIN */
    main h1 {
        text-align: center;
    }
    main p:nth-child(2) {
        font-size: 1.2rem;
        text-align: center;
    }
    main p {
        font-size: 1rem;
    }
    .paragraphs {
        width: 90%;
    }
}